.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/components/LeftComponent.css */
.leftPanel {
  width: 25%;
  float: left;
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scrolling if needed */
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px;
  box-sizing: border-box;
}


/* src/components/RightComponent.css */
.rightPanel {
  width: 75%;
  float: right;
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scrolling */
  background-color: #fff; /* White background */
  padding: 20px;
  box-sizing: border-box;
}

/* src/components/Home.css */
.homeContainer {
  background-color: #070F2B;
  min-height: 100vh;
}


.section {
  min-height: 100vh;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.listItemStyle {
  margin: 10px 0;
  padding: 8px 16px;
  border-left: 4px solid #00BFA5; /* Replace with the color of your choice */
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black background */
  transition: background-color 0.3s ease;
}

.listItemStyle:hover {
  background-color: #00BFA5; /* Highlight color on hover */
}

.listItemStyle .MuiListItemText-primary {
  color: white; /* Soft white color for the text */
  font-weight: bold;
  text-transform: uppercase; /* Uppercase text */
  font-family: 'Roboto', sans-serif; /* Use a custom font */
}